In [ ]:
#selenium- 사람이 검색용으로 html받아옴 ,urlopen(url)웹페이지 검색

In [1]:
from bs4 import BeautifulSoup
from urllib.request import urlopen

In [5]:
html = "<p>test</p>"
soup = BeautifulSoup(html,'lxml')
soup

In [6]:
html = "<p>test</p>"
soup = BeautifulSoup(html,'html5lib')
soup

In [8]:
html = "<p>test</p>"
soup = BeautifulSoup(html,'html.parser')
soup

In [9]:
from bs4 import BeautifulSoup
html = """
<html>
<head><title>나의 웹페이지</title></head>
<p>test1</p>
<p>test2</p>
<p>test3</p>
</html>
"""

In [14]:
soup = BeautifulSoup(html,'html5lib')
soup

<html><head><title>나의 웹페이지</title></head>
<body><p>test1</p>
<p>test2</p>
<p>test3</p>

</body></html>

In [15]:
soup.body

<body><p>test1</p>
<p>test2</p>
<p>test3</p>

</body>

In [16]:
soup.head

In [17]:
soup.find_all("p")[1]

In [18]:
html="""
<html>
<head><title>test site</title></head>
<p class='class1' align="left">test3</p>
<p class='class1' >test3</p>
<p id='p1'>오늘의 주기주수 1500</p>
<span class='class3'>span tag text</span>
<p class='class4'>test3</p>
</html>
"""

In [20]:
soup=BeautifulSoup(html, 'lxml')
soup

<html>
<head><title>test site</title></head>
<body><p align="left" class="class1">test3</p>
<p class="class1">test3</p>
<p id="p1">오늘의 주기주수 1500</p>
<span class="class3">span tag text</span>
<p class="class4">test3</p>
</body></html>

In [21]:
soup.p

In [22]:
soup.p.attrs

{'class': ['class1'], 'align': 'left'}

In [24]:
soup.find_all("p")

[<p align="left" class="class1">test3</p>,
 <p class="class1">test3</p>,
 <p id="p1">오늘의 주기주수 1500</p>,
 <p class="class4">test3</p>]

In [25]:
soup.find_all("span")

In [26]:
soup.find_all("head")

In [ ]:
###
 * ESC + M : 마크다운 셀 만들기
 * ESC + Y : 소스코드 실행 셀 만들기
 * ESC + A : 위에 셀 추가
 * ESC + B : 아래 셀 추가
 * ESC + X : 셀 삭제

# class이름으로 요소 가져오기

In [28]:
soup.find("p", class_="class1")

## id 이름으로 요소 가져오기

In [29]:
soup.find("p", id="p1")

### find 
    * find_all :리스트
    * find : 문자열

In [31]:
data1=soup.find("head")
data1

In [32]:
data2=soup.find("title")
data2

In [33]:
data2.text

'test site'

In [34]:
html="""
<html>
<head>
    <title>test site</title>
</head>
<body>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1' >test3</p>
    </div>
    <div>
        <p id='p1'>오늘의 주기주수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
    </div>
</body>
</html>
"""
soup=BeautifulSoup(html,'lxml')

In [37]:
data3=soup.find("div")

In [38]:
data2=soup.find_all("p")
data2

[<p align="left" class="class1">test3</p>,
 <p class="class1">test3</p>,
 <p id="p1">오늘의 주기주수 1500</p>,
 <p class="class4">test3</p>]

# 요소안 list사용해서 특정 element가져오기

In [39]:
soup2=soup.find_all("div")[0].find_all("p")[0]

In [40]:
soup2

In [41]:
html = '''
<html>
<head>
    <title> test site </title>
</head>
<body>
    <a href="https://www.google.com">구글</a>
    <div>
        <p class='class1' align="left">test3</p>
        <p class='class1'>test2</p>
    </div>
    <div>
        <p id='p1'>오늘의 주가지수 1500</p>
        <p class='class4'>test3</p>
        <span class='class3'>span tag text</span>
        <a href="https://www.naver.com/">네이버</a>
        <a href="https://www.daum.com/">다음</a>
    </div>
</body>
</html>
'''
soup = BeautifulSoup(html, 'lxml')

## 3-2 (생각해보기) a태그의 모든 url을 가져오기

In [43]:
soup2=soup.find_all("a")

In [46]:
soup2.a.string

AttributeError: ResultSet object has no attribute 'a'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [47]:
soup.a.get('href')

'https://www.google.com'

In [48]:
type(soup.a.get('href'))

str

In [52]:
soup.a.attrs['href']

'https://www.google.com'

In [53]:
a1=soup.find_all("div")[1]
a1.children

In [54]:
a2=list(a1.children)[2]

In [56]:
a1=soup.find_all("div")[1]

In [61]:
a2=list(a1.children)[5]

In [62]:
a2

In [65]:
list(soup.find_all("div")[1].children)[5]

In [64]:
list(soup.find_all("div")[1].findChildren())[2]

In [68]:
 soup.find_all("div")[1].findChildren("span")

In [71]:
s= soup.find_all("div")[1].findChildren("span")[0]
print(s.text)

span tag text

In [78]:
p_all = soup.find("body").find_all("a")
p_all1=soup.findChildren("a")[0]

In [80]:
for one in p_all:
        print(one.text,one.get("href"))

구글 https://www.google.com
네이버 https://www.naver.com/
다음 https://www.daum.com/

# CSV 파일로 만들어 보기!

In [81]:
com =[]
urls=[]

list_a=soup.findAll("a")
for one in list_a:
    print(one.text, one.get("href"))
    com.append(one.text)
    urls.append(one.get('href'))
print(com)
print(urls)

구글 https://www.google.com
네이버 https://www.naver.com/
다음 https://www.daum.com/
['구글', '네이버', '다음']
['https://www.google.com', 'https://www.naver.com/', 'https://www.daum.com/']

In [82]:
import pandas as pd

# pandas의 기본 자료형
    *Series
    *DataFrame

In [90]:
dat={'회사명':com, '웹사이트':urls }
dat=pd.DataFrame(dat)
# dat=pd.Series(dat)
dat

   회사명                    웹사이트
0   구글  https://www.google.com
1  네이버  https://www.naver.com/
2   다음   https://www.daum.com/

In [88]:
# dat.to_csv("회사면과웹사이트.csv", index = False)
dat.to_excel("회사면과웹사이트.xlsx", index = False)
#확인
import os
print(os.getcwd())
print(os.listdir(os.getcwd()))

C:\Users\steam
['.android', '.astropy', '.cordova', '.dotnet', '.eclipse', '.gitconfig', '.idlerc', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.p2', '.PyCharm2019.1', '.PyCharmCE2017.3', '.python_history', '.tooling', '.vscode', '06_16.ipynb', '3D Objects', 'anaconda3', 'ansel', 'AppData', 'Application Data', 'Autodesk', 'Contacts', 'Cookies', 'Desktop', 'Documents', 'Downloads', 'eclipse', 'eclipse-workspace', 'Favorites', 'Helloworld.class', 'helloworld.java', 'IntelGraphicsProfiles', 'Links', 'Local Settings', 'MicrosoftEdgeBackups', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{8cb29cae-c225-11eb-b8cd-df9568592192}.TM.blf', 'NTUSER.DAT{8cb29cae-c225-11eb-b8cd-df9568592192}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{8cb29cae-c225-11eb-b8cd-df9568592192}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Pictures', 'PrintHood', 'PycharmProjects', 'Recent', 'Roaming', 'Saved Games', 'seaborn-data', 'Searches', 'SendTo', 'source', 'Templates', 'Untitled.ipynb', 'Videos', '시작 메뉴', '회사면과웹사이트.csv', '회사면과웹사이트.xlsx']

In [93]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
url = "https://ldjwj.github.io/00_PYTHON_LEVELUP_CLASS/web_class/index.html "
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")
soup.title

In [115]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
url = "https://finance.naver.com/sise/ "
page = urlopen(url)
page
soup = BeautifulSoup(page, "html.parser")
soup.title

In [116]:
kos=soup.find("span", id="KOSPI_now")
kod=soup.find("span", id="KOSDAQ_now")
k200=soup.find("span", id="KPI200_now")
print("kospi: "+kos.string)
print("kosdaq: "+kod.string)
print("kospi200: "+k200.string)

kospi: 3,278.31
kosdaq: 999.54
kospi200: 436.86

In [130]:
hoo=soup.find('ul', id="popularItemList")
hah =hoo.find_all("li")
hah[0]

<li><em>1.</em><a href="/item/main.nhn?code=035420" onclick="clickcr(this,'boa.list','035420','1',event)">NAVER</a><span class="up">394,000</span><em class="bu_p bu_pup"><span class="blind">상승</span></em></li>

In [133]:
nah=[]
price_=[]
for one in hah:
    com_one=one.find("a").text
    price_one=one.find("span").text
    nah.append(com_one)
    price_.append(price_one)

In [134]:
print(nah)
print(price_)

['NAVER', '삼성전자', '두산중공업', '카카오', '대원전선', '가비아', 'HMM', '대한전선', '서울식품', '한전산업']
['394,000', '81,600', '24,700', '143,500', '3,570', '19,100', '45,450', '3,300', '470', '10,850']

In [140]:
ul = soup.find_all("ul", class_="lst_pop", id="popularItemList")[0]
gl = soup.find_all("ul", class_="lst_pop", id="popularItemList")[0].find_all('span')
ranktag = ul.find_all("a")
for one in ranktag :
    print(one.get("onclick")[-9]+"위. "+one.text+" (" +gl.text+")" )

1위. NAVER (상승)
2위. 삼성전자 (상승)
3위. 두산중공업 (상승)
4위. 카카오 (상승)
5위. 대원전선 (상승)
6위. 가비아 (상승)
7위. HMM (상승)
8위. 대한전선 (상승)
9위. 서울식품 (상승)
0위. 한전산업 (상승)

In [146]:
ul = soup.find_all("ul", class_="lst_pop", id="popularItemList")[0].find_all('span')[1]
print(ul)

<span class="blind">상승</span>

In [141]:
ul_=soup.findAll('ul',class_='lst_pop', id="popularItemList")
for x in ul_:
    print(x.text)

1.NAVER394,000상승
2.삼성전자81,600상승
3.두산중공업24,700상승
4.카카오143,500하락
5.대원전선3,570상승
6.가비아19,100상한가
7.HMM45,450상승
8.대한전선3,300상승
9.서울식품470상승
10.한전산업10,850상승

In [184]:
url = 'https://finance.naver.com/sise/'
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
ul = soup.find_all("ul", class_="lst_pop", id="popularItemList")[0]
ranktag = ul.find_all("a")
updowntag = ul.find_all("span", class_="blind")
# for i in range(10) :
#     rank = ranktag[i]
#     updown = updowntag[i]
#     print(rank.get("onclick")[-9]+"위. "+rank.text+":"+rank.get("onclick")[-18:-12]+"\t"+updown.text)
#     #onclick 안에는 순위 종목코드 있다!
updowntag[0]

In [217]:
import pandas as pd
import os

url = 'https://finance.naver.com/sise/'
page = urlopen(url)
soup = BeautifulSoup(page, 'html.parser')
ul = soup.find_all("ul", class_="lst_pop", id="popularItemList")[0]
ranktag = ul.find_all("a")
updowntag = ul.find_all("span", class_="blind")
ps_cod=[]
ps_nam=[]
ps_ud=[]

for i in range(10) :
    rank = ranktag[i] # 종목이름&코드 보유
    updown = updowntag[i] #상승&하락 보유
#     print(str(i+1)+"위. "+rank.text+"("+rank.get("onclick")[-18:-12]+") = "+updown.text)
    ps_cod.append(rank.get("onclick")[-18:-12]) #종목코드
    ps_nam.append(rank.text) #이름
    ps_ud.append(updown.text) #상하락

    #onclick 안에는 순위 종목코드 있다!

ul1 = soup.find_all("ul", class_="lst_major")[0]
ranktag1 = ul1.find_all("a")
num_da = ul1.find_all("span")
ps_num=[]#지수수치
ps_name=[]#이름
ps_ude=[]#상하락

for i in range(5) :
    rank1 = ranktag1[i] # 해외지수 이름 보유
    dan1 = num_da [i*2] # 해외지수 수치 보유 
    dan2 = num_da [i*2+1] # 상승&하락 보유
#     print(rank1.text+":"+dan1.text+"\t"+dan2.text)
    ps_num.append(dan1.text) #지수수치
    ps_name.append(rank1.text) #이름
    ps_ude.append(dan2.text) #상하락

dat = { '주식명':ps_nam,'종목코드':ps_cod ,'상승&하락':ps_ud }
dat = pd.DataFrame(dat)
dat.to_excel("주식인기검색 종목.xlsx", index=False)
dat

# dat_a = { '지수명':ps_name,'지수수치':ps_num ,'상승&하락':ps_ude }
# dat_a = pd.DataFrame(dat_a)
# dat_a
# dat_a.to_excel("해외지수.xlsx", index=False)

    주식명    종목코드 상승&하락
0  삼성전자  005930    상승
1   쌍방울  102280    하락
2  한전산업  130660   상한가
3   HMM  011200    상승
4   카카오  035720    하락
5  LG화학  051910    하락
6  한국전력  015760    상승
7  대원전선  006340    상승
8   가비아  079940   상한가
9  LG전자  66570'    하락